.header {
    width: 100%;
    height: 100%;
    display: inline-block;
}

.privet {
    width: 100%;
    height: 5%;
    background-color: rgb(123, 213, 255);
    text-align: center;
    color: rgb (255, 255, 255);
    color: rgb(18, 59, 240);
    display: inline-block;
    font-size: 200%;
}

.sidebar {
    width: 20%;
    min-width: 15%;
    height: 90%;
    background-color: rgb(255, 209, 123);
    display: inline-block;
    float:left;
    line-height: 260%;
    font-size: 120%;
}

.rasskaz {
    width: 80%;
    min-width: 20%;
    height: 90%;
    min-height: 20%;
    display: inline-block;
    padding-top: 0px;
    background: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)), url(./fifa.png) repeat-y right;   
    text-align:center;
}

.image {
    float:left;
    width: 500px;
    height: 300px;
}
.text {
    text-align: justify;
    font-size: 250%;
}

.footer {
    width: 100%;
    height: 5%;
    background-color: rgb(123, 213, 255);
    text-align: center;
    color: rgb(18, 59, 240) ;
    display: inline-block;
    font-size: 200%;
}
