table.CHESS
{
  border-collapse: collapse;
}
table.CHESS td
{
  width: 50px;
  height: 50px;
  border: solid gray 1px;
}
.white {
  background-color: rgb(255, 255, 255);
  background-image: url(./1.png);
}
.black {
  background-color: black;
}

.black1 {
  background-color: black;
  background-image: url(./Image6/Белая\ пешка.png);
  background-repeat: no-repeat;
  background-position: center;
}
.white1 {
  background-color: white;
  background-image: url(./Image6/Черная\ пешка.png);
  background-repeat: no-repeat;
  background-position: center;
}
.black2 {
  background-color: black;
  background-image: url(./Image6/Белая\ пешка.png);
  background-repeat: no-repeat;
  background-position: center;
}
.white2 {
  background-color: white;
  background-image: url(./Image6/Черная\ пешка.png);
  background-repeat: no-repeat;
  background-position: center;
}
.blacka1 {
  background-color: black;
  background-image: url(./Image6/Белый\ слон.png);
  background-repeat: no-repeat;
  background-position: center;
}
.whiteb1 {
  background-color: white;
  background-image: url(./Image6/Черный\ ферзь.png);
  background-repeat: no-repeat;
  background-position: center;
}
.blackc1 {
  background-color: black;
  background-image: url(./Image6/Белый\ конь.png);
  background-repeat: no-repeat;
  background-position: center;
}
.whited1 {
  background-color: white;
  background-image: url(./Image6/Черная\ королева.png);
  background-repeat: no-repeat;
  background-position: center;
}
.blacke1 {
  background-color: black;
  background-image: url(./Image6/Белый\ король.png);
  background-repeat: no-repeat;
  background-position: center;
}
.whitef1 {
  background-color: white;
  background-image: url(./Image6/Черный\ конь.png);
  background-repeat: no-repeat;
  background-position: center;
}
.blackg1 {
  background-color: black;
  background-image: url(./Image6/Белый\ ферзь.png);
  background-repeat: no-repeat;
  background-position: center;
}
.whiteh1 {
  background-color: white;
  background-image: url(./Image6/Черный\ слон.png);
  background-repeat: no-repeat;
  background-position: center;
}
.whitea8 {
  background-color: white;
  background-image: url(./Image6/Черный\ слон.png);
  background-repeat: no-repeat;
  background-position: center;
}
.blackb8 {
  background-color: black;
  background-image: url(./Image6/Белый\ ферзь.png);
  background-repeat: no-repeat;
  background-position: center;
}
.whitec8 {
  background-color: white;
  background-image: url(./Image6/Черный\ конь.png);
  background-repeat: no-repeat;
  background-position: center;
}
.blackd8 {
  background-color: black;
  background-image: url(./Image6/Белая\ королева.png);
  background-repeat: no-repeat;
  background-position: center;
}
.whitee8 {
  background-color: white;
  background-image: url(./Image6/Черный\ король.png);
  background-repeat: no-repeat;
  background-position: center;
}
.blackf8 {
  background-color: black;
  background-image: url(./Image6/Белый\ конь.png);
  background-repeat: no-repeat;
  background-position: center;
}
.whiteg8 {
  background-color: white;
  background-image: url(./Image6/Черный\ ферзь.png);
  background-repeat: no-repeat;
  background-position: center;
}
.blackh8 {
  background-color: black;
  background-image: url(./Image6/Белый\ слон.png);
  background-repeat: no-repeat;
  background-position: center;
}

table.CHESS td.field_right1 {
  width:25px; 
  height:25px; 
  background-color: rgb(27, 247, 27);
}
table.CHESS td.field_right2 { 
height:25px; 
background-color: rgb(27, 247, 27);
}
table.CHESS td.field_left1 {
  width:25px; 
  height: 25px; 
  background-color: rgb(27, 247, 27);
}
table.CHESS td.field_left2{
  height:25px; 
  background-color: rgb(27, 247, 27);
}
table.CHESS td.field_top {
width:25px; 
background-color: rgb(27, 247, 27);
}
